header{
    background-color: #87beff;
    margin-top: 0%;
    nav-index: 0%;
    padding: 5px;
}
body {
    background: #f2eee6;
    background: -moz-linear-gradient(45deg, #ffffff 100%, #add8e6 44%, #ffffff 100%);
    background: -webkit-linear-gradient(45deg, #ffffff 100%, #add8e6 44%, #ffffff 100%);
    background: linear-gradient(45deg, #ffffff 100%, #add8e6 44%, #ffffff 100%);
    margin: 0%;
}

body img{
    max-width: 100%;
}
*{box-sizing:border-box
}
#otsikko{
    text-align: center;
}
.site-title{
    text-align: center;
    font-size:2cm ;
}
.site-discription{
    font-size:small;
    text-align: center;
}
.normnav{
    text-align: center;
    background-color: #9ec6f8;
    text-decoration: none;
    display: block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: large;
}


h1 {
    text-shadow: 8px 8px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 1px 5px rgba(1, 5, 5, 0);
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 1px 5px rgba(1, 5, 5, 0);
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 1px 5px rgba(1, 5, 5, 0);
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4 {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 1px 5px rgba(1, 5, 5, 0);
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h5 {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 1px 5px rgba(1, 5, 5, 0);
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
td bold {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 1px 5px rgba(1, 5, 5, 0);
    color: #ffffff;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #331e11;
}


#palvelutiedot{
    margin-top: 1%;
}
.column {
    float: left;
    width: 32%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
} 
.responsive {
    width: 100%;
    height: auto;
}
.responsive {
    width: 100%;
    height: auto;
}        
#kuvattimet {
   display: grid;
   grid-template-rows: 50% 50%;
   grid-template-columns: 33% 33% 33%;
}
#kuvattimet em{
    white-space: nowrap;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#ylävasen {
   grid-row: 1;
   grid-column: 1;
}
#yläkeski {
   grid-row: 1;
   grid-column: 2;
}
#yläoikea {
    grid-row: 1;
   grid-column: 3;
   }
#alavasen {
   grid-row: 2;
   grid-column: 1;
   }
#alaoikea {
   grid-row: 2;
   grid-column: 3;
   }

nav div{
    display: inline;
}
a:link, a:visited {
    background-color: #dfeaff;
    color: black;
    border: 3px solid #9ec6f8;
    padding: 10px 20px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    }
        
a:hover, a:active {
    background-color: #87beff;
    color: black;
    }
.yhteysgrid{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 3%;
    background-color:#87beff;
}
.yhteysgrid li{
    list-style-type: none;
    font-family: sans-Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    border: #9ec6f8;
    font-weight: 100;
    font-size: small;
    
}
.yhteystiedot{
    grid-column: 1/2;
    text-align: center;
    border: #0077ff 5px;
    border-radius: 5%;
    font-size: large;
}
.yhteysgrid a:link{
    color: blue;
    background-color:#87beff ;
    border:none;
}

.laskutustiedot{
    grid-column: 2/3;
    text-align: center;
    border: #4074b5 5px;
    border-radius: 5%;
    font-size: large;
}

.topnav{
    display: none;
}
.icon{
    font-weight: 700;
}

@media only screen and (max-width: 1000px) {
    #palvelutiedot em{
        font-size: 0.7em;
    }
    .column h3{
        font-size: 0.4em;
    }
}

@media only screen and (max-width: 700px){
    #kuvattimet{
        display: block; 
    }
    #kuvattimet em{
        font-size: 1em;
    }
    .yhteysgrid{
        display: block;
    }
    .yhteystiedot{
        margin-top:5%;
    }
    .laskutustiedot{
        margin-top: 10%;
    } 
    .topnav{
        display: block;
    }
    .topnav #myLinks{
        display: none;
    }
    .topnav a{
        display: block;
    }
    .hidden{
        display: block;
    }
    .normnav{
        display: none;
        
    }
}
