body {
    background: #f2eee6;
    background: -moz-linear-gradient(45deg, #5ebddd 0%, #add8e6 44%, #5ebddd 100%);
    background: -webkit-linear-gradient(45deg, #5ebddd 0%, #add8e6 44%, #5ebddd 100%);
    background: linear-gradient(45deg, #5ebddd 0%, #add8e6 44%, #5ebddd 100%);
}
body img{
    max-width: 100%;
}


h1 {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 1px 5px rgba(1, 5, 5, 0);
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 1px 5px rgba(1, 5, 5, 0);
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h3 {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 1px 5px rgba(1, 5, 5, 0);
    color: #ffffff;
    font-family: sans-serif;
}

h4 {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 1px 5px rgba(1, 5, 5, 0);
    color: #ffffff;
    font-family: sans-serif;
}

h5 {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 1px 5px rgba(1, 5, 5, 0);
    color: #ffffff;
    font-family: sans-serif;
}
td bold {
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 1px 5px rgba(1, 5, 5, 0);
    color: #ffffff;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #331e11;
}


#palvelutiedot{
    margin-top: 10%;
}
.column {
    float: left;
    width: 32%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
} 
.responsive {
    width: 100%;
    height: auto;
}
.responsive {
    width: 100%;
    height: auto;
}        
#kuvattimet {
   display: grid;
   grid-template-rows: 50% 50%;
   grid-template-columns: 33% 33% 33%;
}
#kuvattimet em{
    white-space: nowrap;
    font-weight: bold;
}
#ylävasen {
   grid-row: 1;
   grid-column: 1;
}
#yläkeski {
   grid-row: 1;
   grid-column: 2;
}
#yläoikea {
    grid-row: 1;
   grid-column: 3;
   }
#alavasen {
   grid-row: 2;
   grid-column: 1;
   }
#alaoikea {
   grid-row: 2;
   grid-column: 3;
   }

nav div{
    display: inline;
}
a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid rgb(13, 88, 228);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    }
        
    a:hover, a:active {
    background-color: rgb(13, 88, 228);
    color: white;
    }
.yhteysgrid{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 10%;
    background-color: #4074b5;
}
.yhteysgrid li{
    list-style-type: none;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 2px 1px 5px rgba(1, 5, 5, 0);
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 80%;
}
.yhteystiedot{
    grid-column: 1/2;
    text-align: center;
    border: #050200 solid 5px;
    border-radius: 5%;
}

.laskutustiedot{
    grid-column: 2/3;
    text-align: center;
    border: #050200 solid 5px;
    border-radius: 5%;
}


@media only screen and (max-width: 890px) {
    #palvelutiedot em{
        font-size: 0.7em;
    }
    .column h3{
        font-size: 0.4em;
    }
}
@media only screen and (max-width: 700px){
    #kuvattimet{
        display: block; 
    }
    #kuvattimet em{
        font-size: 1em;
    }
    .yhteysgrid{
        display: block;
    }
    .yhteystiedot{
        margin-top:5%;
    }
    .laskutustiedot{
        margin-top: 10%;
    }
}